__pycache__/
*.pyc
.env
venv/
# Python (Fichiers temporaires et environnement virtuel)
**/__pycache__/
*.pyc
backend/venv/
.env

# JavaScript (Dépendances React)
frontend/node_modules/
frontend/dist/

static/uploads/*
!static/uploads/posts/.gitkeep